* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F1F2F4;
}

header {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}

.logo_container {
    margin-left: 4%;
}

.action_bar {
    margin-right: 4%;
  
}

.nav_bar {
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;

}

.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0;
    border-bottom: 4px solid #ffffff;
    
}

.nav_bar a:hover {
    border-bottom: 4px solid #f54e77;
}

.nav_bar a sup {
    color: #ff3f6c;
    font-size: 10px;
}


.search_bar {
     height: 40px;
     min-width: 200px;
     width: 30%;
     display: flex;
     align-items: center;
}

.search_icon {
     height: 20px;
     padding: 10px;
     box-sizing: content-box;
     background-color: #f5f5f6;
     color: #282c3f;
     font-weight: 300;
     border-radius: 4px 0 0 4px;
}

.search_input {
    color: #696e79;
    background-color: #f5f5f6;
    flex-grow: 1;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
}

.action_bar {
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}

.action_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main section */
.banner_container {
    margin: 1rem 2.5rem 1rem 2.5rem;
}

.banner_image {
    width: 100%;
}



/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 1rem 2.5rem 1rem 2.5rem;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
  }


/*------------------------------------------Main Section CSS------------------------------------------------------------*/
/* Main{
    height: 100vh;
} */

.container{
    /* border: 2px solid yellow; */
    margin: 1rem 2.5rem 1rem 2.5rem;
    display: flex;
    height: 150px;
    /* width: 8%;  */
    justify-content: center;
    gap:10px;
    
}

.container a{
    width:30%;
    height:100%;
    transition: all ease-in-out 0.5s;
}

.container img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
    /* border: 2px solid rgba(36, 36, 36, 0.684); */
}

.container a:hover{
    width: 35%;
    cursor: pointer;
}

/*------Menu Bar section----*/

.menu_bar{
    /* width: 70%; */
    /* border:2px solid black; */
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem 2.5rem 1rem 2.5rem;
    background-color: #FFF;
    padding: 0.25rem;
}

.menu_option {
    /* text-decoration: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 3rem;    
    padding-right: 3rem;    
    /* color:black; */
}

.menu_option a{
    color: black;
    text-decoration: none;
    text-align:center;
}

.menu_option a img{
    width: 35px;
    height: 35px;
}

.menu_option a img:hover{
    width: 40px;
    height: 40px;
    cursor:pointer;
}

/*--------------------------------------------Footer Section CSS----------------------------------------------------------*/

footer{
    background: linear-gradient(to right, #00093c, #2d0b00);
    border-top-left-radius: 100px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

footer *{
    color: white;
}

.f_container{
    display: flex;
    justify-content: space-between;
    padding: 50px 7%;
}

.footer-col{
    width: 25%;
}

.footer-col h2{
    font-optical-sizing: 1.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p.email{
    margin: 30px 0;
}

p.phone{
    font-size: 20px;
    font-weight: 400;
}

.footer-col .text-office{
    margin-bottom: 20px;
}
.underline{
    width: 70px;
    height: 3px;
    position: relative;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.underline span{
    width: 7px;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: rgb(63,63,63);
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

.footer-col ul{
    list-style-type: none;
    padding-top: 10px;
}

.footer-col ul li{
    margin: 10px;
}

.footer-col form{
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: flex;
}

.footer-col form input{
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.footer-col form i{
    font-size: 15px;
}

.footer-col .social-icons{
    margin-top: 20px;
}

.footer-col .social-icons i{
    padding: 10px;
    background-color: white;
    color: #00093c;
    border-radius: 50%;
    margin: 5px;
}

.footer-para{
    max-width: 250px;
}