* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F1F2F4;
}

/*------------------------------------------Main Section CSS------------------------------------------------------------*/
Main{
    height: 100vh;
}

.container{
    /* border: 2px solid yellow; */
    margin: 1rem 2.5rem 1rem 2.5rem;
    display: flex;
    height: 150px;
    /* width: 8%;  */
    justify-content: center;
    gap:10px;
    
}

.container a{
    width:30%;
    height:100%;
    transition: all ease-in-out 0.5s;
}

.container img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
    /* border: 2px solid rgba(36, 36, 36, 0.684); */
}

.container a:hover{
    width: 35%;
    cursor: pointer;
}

/*------Menu Bar section----*/

.menu_bar{
    /* width: 70%; */
    /* border:2px solid black; */
    height: 70px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1rem 2.5rem 1rem 2.5rem;
    background-color: #FFF;
    padding: 0.25rem;
}

.menu_option {
    /* text-decoration: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 3rem;    
    padding-right: 3rem;    
    /* color:black; */
}

.menu_option a{
    color: black;
    text-decoration: none;
    text-align:center;
}

.menu_option a img{
    width: 35px;
    height: 35px;
}

.menu_option a img:hover{
    width: 40px;
    height: 40px;
    cursor:pointer;
}

/*--------------------------------------------Footer Section CSS----------------------------------------------------------*/

footer{
    background: linear-gradient(to right, #00093c, #2d0b00);
    border-top-left-radius: 100px;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

footer *{
    color: white;
}

.f_container{
    display: flex;
    justify-content: space-between;
    padding: 50px 7%;
}

.footer-col{
    width: 25%;
}

.footer-col h2{
    font-optical-sizing: 1.7em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p.email{
    margin: 30px 0;
}

p.phone{
    font-size: 20px;
    font-weight: 400;
}

.footer-col .text-office{
    margin-bottom: 20px;
}
.underline{
    width: 70px;
    height: 3px;
    position: relative;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.underline span{
    width: 7px;
    height: 100%;
    position: absolute;
    left: 10px;
    background-color: rgb(63,63,63);
    border-radius: 3px;
    animation: moving 1.5s linear infinite;
}

@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

.footer-col ul{
    list-style-type: none;
    padding-top: 10px;
}

.footer-col ul li{
    margin: 10px;
}

.footer-col form{
    margin-top: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    display: flex;
}

.footer-col form input{
    width: 70%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
}

.footer-col form i{
    font-size: 15px;
}

.footer-col .social-icons{
    margin-top: 20px;
}

.footer-col .social-icons i{
    padding: 10px;
    background-color: white;
    color: #00093c;
    border-radius: 50%;
    margin: 5px;
}

.footer-para{
    max-width: 250px;
}